body {
  font-family: "Noto Sans JP",sans-serif;
  /* font-family: "Noto Sans JP","Lato","Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif; */
  font-size: 14px;
  line-height: 1.8;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
  letter-spacing: .8px;
  color: #333;
}

.scroll-fix{
  overflow: hidden;
}

a {
  transition: opacity .3s;
  text-decoration: none;
  color: #1ca9e3;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  border-style: none;
}

ul,
li {
  list-style: none;
}

.pc-only {
  display: block;
}

/*--------------------------------
 Layout
---------------------------------*/
.section {
  padding: 80px 0;
}

.bg-black{
  background-color: black;
}

.bg-black p, .bg-black h2, .bg-black h3, .bg-black a{
  color: white !important;
}

.section:last-of-type{
  padding-bottom: 0;
}

.inner {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 40px;
}

/*--------------------------------
 Headline
---------------------------------*/
.title {
  font-size: 34px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 40px;
  text-align: center;
  letter-spacing: .05em;
  color: #7266A1;
}

.lead {
  margin-bottom: 30px;
  text-align: center;
}


.whole-page {
  width: 100%;
}

.whole-page #modal-wrapper {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100svh;
  width: 100svw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
  overscroll-behavior-y: contain;
}

.whole-page #modal-wrapper .modal-window {
  background-color: white;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.4);
  display: none;
  height: 600px;
  width: 600px;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 10px;
  z-index: 10000;
  position: relative;
  transform: translate(0px, 0px);
}

.whole-page .hidden {
  display: none !important;
}

.whole-page #modal-wrapper .modal-window.open{
  display: block;
}

/*--------------------------------
 Particles
---------------------------------*/

#particles-js{
  height: 100%;
  width: 100%;
}

/*--------------------------------
 Swiper
---------------------------------*/

.works_system, .works_company, .works_security2 {
  display: none;
}

.works_system .works_system {
  display: block;
}

.works_company .works_company {
  display: block;
}

.works_security2 .works_security2 {
  display: block;
}

/*--------------------------------
 Header
---------------------------------*/
.header {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  transition: background-color .6s;
}

.header.active {
  background-color: rgba(255, 255, 255, 0.2);
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  height: 35px;
}

.header-logo img {
  height: 110px;
}

.header-nav-list {
  display: flex;
  justify-content: space-between;
}

.header-nav-item:not(:last-child) {
  margin-right: 20px;
}

.header-nav-item a {
  font-size: 20px;
  padding: 5px 0;
  letter-spacing: .1em;
  color: #444853;
}

.header-nav-item a:hover {
  opacity: .8;
}

/*--------------------------------
 main visual
---------------------------------*/
.main-visual{
  width: 100vw;
  height: 50vw;
  position: relative;
  background-color: black;
}
.main-visual-img {
  height: 670px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-visual-img img{
  max-height: 100%;
  object-fit: cover;
}

/* .sub-main-visual-img {
  height: 180px;
  background-image: url(../img/mv.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
} */

/*--------------------------------
 Profile
---------------------------------*/
.profile {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
  padding: 50px 0;
}

.profile-title {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: center;
  color: white;
}

.profile-text {
  color: white;
  max-width: 500px;
  margin: 0 auto;
}

/*--------------------------------
 Skill
---------------------------------*/
.skill-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -50px;
}

.skill-item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 48%;
  margin-bottom: 50px;
}

.skill-img {
  width: 60px;
  height: auto;
  margin-right: 20px;
}

.skill-body {
  flex: 1;
}

.skill-name {
  margin-bottom: 3px;
}

/*--------------------------------
 Works
---------------------------------*/
.works-list{
  margin-top: 30px;
}
.works-item{
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
  border-radius: 24px;
  overflow: hidden;
}

.works-img img{
  border: 1px solid #e6e6e6;
  width: 100%;
  aspect-ratio: 4 / 3;
  cursor: pointer;
}

.works-item .works-text{
  padding: 12px 12px 24px;
}

.works-name {
  font-size: 12px;
  font-weight: bold;
}

.works-info {
  font-size: 10px;
}


/*--------------------------------
 Contact
---------------------------------*/
.contact-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-item {
  display: block;
  margin: 0 20px;
  text-align: center;
}

.contact-text {
  margin-top: 10px;
  text-align: center;
}
/*--------------------------------
 Page top
---------------------------------*/
.page-top {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
  padding-right: 10%;
  /* margin-bottom: 40px; */
}

.page-top .material-icons-outlined {
  position: absolute;
  top: -12px;
  cursor: pointer;
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1000px;
  background-color: rgba(0,0,0,0.05);
  transition: 0.2s all ease;
}

.page-top .material-icons-outlined:hover{
  background-color: rgba(0,0,0,0.15);
}

/*--------------------------------
 Footer
---------------------------------*/
.footer {
  padding: 15px;
}

.copyright {
  font-size: 25px;
  text-align: center;
  color: #444853;
}

@media screen and (max-width: 1200px) {
  .header-nav-item a {
    font-size: 20px;
  }

  .header-logo {
    height: 60px;
  }

  .header-logo img{
    height: 80px;
  }
}
/*media Queries 767
----------------------------------------------------*/
@media screen and (max-width: 767px) {
  body {
    font-size: 13px;
    line-height: 1.7;
  }

  .pc-only {
    display: none;
  }

  /* Headline */
  .title {
    font-size: 28px;
    margin-bottom: 10px;
  }

  /* Layout */
  .section {
    padding: 40px 0;
  }

  .inner {
    padding: 0 15px;
  }

  /* Header */
  .header-logo {
    height: 40px;
  }

  .header-logo img{
    height: 64px;
  }

  .header-nav-item:not(:last-child) {
    margin-right: 10px;
  }

  .header-nav-item a {
    font-size: 12px;
  }

  /* main visual */
  .main-visual{
    height: 80vw;
  }
  .main-visual-img {
    height: 60vh;
  }
  .sub-main-visual-img {
    height: 100px;
    background-image: url(../img/sp_mv.jpg);
  }

  /* Profile */
  .profile {
    width: 80vw;
  }
  .profile-title {
    font-size: 24px;
  }
  .profile-text {
    font-size: 14px;
  }

  /* Works */
  .works-name {
    font-size: 15px;
  }

  .works-list {
    justify-content: space-between;
  }

  .works-item {
    flex: 0 0 48%;
    margin-right: 0;
    margin-bottom: 30px;
  }

  /* Skill */
  .skill-list {
    display: block;
    margin-bottom: 0;
  }

  .skill-item {
    width: 100%;
    margin-bottom: 35px;
  }

  .skill-item:last-child {
    margin-bottom: 0;
  }

  /* Contact */
  .contact-item {
    margin: 0 10px;
  }

  /* Footer */
  .footer {
    padding: 20px 0;
  }
}
